@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header { 
    height: 100vh;
    background: url('img/header.jpg') center/cover fixed;
}
nav {
    height: 77px;
    background-color: white;
    padding: 10px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    display: inline-block;
    font-size: 24px;
    line-height: 52px;
    color: #666;
    font-weight: 300;
}
#menu {display: none;}
nav i {
    color: #3a52bf;
    cursor: pointer;
}
.superHero {
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #fff;
    font-size: 32px;
    line-height: 40px ;
    font-weight: 300;
    margin-bottom: 24px;
}
h2 {
    margin: 60px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
h5 { 
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    color: #0e1015;
    margin-bottom: 24px;
    text-align: center;
}
.superHero p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 24px;
}
.btn {
    display: inline-block;
    line-height: 24px;
    min-width: 200px;
    padding:13px 26px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    white-space: normal;
}
.btnBenovse {
    background-color: #745cf9;
    border-color: #745cf9;
}
.btnTran {
    border: 2px solid white;
}
.bgmilk{ background-color: #f5f5f5;}
.bgblack{ background-color: black;}
main {
    background-color: #fff;
    min-height: 100vh;
}
.mac {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.mac img {width: 100vw;}
.mac p {text-align: center;}
.mac a {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
.mac div { display: flex; flex-direction: column;}

#div3 { 
    height: 100vh;
    background: url('img/main1.jpg') center/cover fixed;
}
#div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 0 20px ;
}
#div4 img { 
    width: 70vw; 
    height: 70vh;
    margin: 10px;
}
#div4 a {text-align: center; margin: 10px auto;}

#pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#galery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.galeryItem {
    width: 50vh;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 10px;
}
.galeryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    height: 100%;
    transition: .5s;

    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font: 24px Arial;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
}
.galeryItem:hover .overlay {
    top: 0;
    opacity: 1;
}

#testimonial {
    height: 100vh;
    background: url('img/testimonialbg.jpg') center/cover fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
}
#testimonial img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
} 
#testimonial p {
    margin: 10px 40px;
    text-align: center;
    font-size: .8em;
}

#testimonial span {
    color: #FFF;
    margin: 30px;
}

#logos {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
#logos img {
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}
#download {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
#download h5 { 
    font-size: 20px;
    font-weight: 400;
    color: #0e1015;
}
#download a {
    display: inline-block;
    color: white;
    height: 50px;
    padding: 10px;
    margin: 5px;
}
#son {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}
#son p {margin: 10px 0; }
#son div a {
    color: white;
    font-size: 14px;
    margin:  10px;
}
footer p , footer h5 , h6 {color: #fff;}
@media only screen and (min-width:768px) {
    nav {  justify-content: space-around;}
    nav>i {  display: none !important;}
    .menuBar {
        display: flex;
        align-items: center ;
        gap: 48px;
    }
    h1 {font-size: 60px;}
    h5 {padding: 0 30px;}
    #menu {  display: flex; }
    #menu li {  margin-right: 24px;}
    #menu a{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -1px;
        color: #4c4c4c;
    }
    .container {   max-width: 80vw;}
    .mac {
        flex-direction: row;
        margin: 10px 0;
        padding: 0 30px;
    }
    .mac img { max-width: 600px;}
    .mac div {justify-content: center;}
    .mac a {
        max-width: 200px;
        align-self: center;
    }
    #change {order: -1;}
    #div3 {    height: 50vh; }
    #div4 {width: 50%; margin: auto;}
    #galery { 
        flex-direction: row;
        justify-content: center;
    }
    #testimonial {        height: 70vh;}
    #testimonial p { width: 70vh;}
    #thoughts {display: flex;    }
    #thoughts img { margin: 10px 60px}
    #download h5 {  font-size: 30px;}
    #son {
        flex-direction: row;
        justify-content: space-between; 
    }       
} 